div.gallery {
    margin: 20px;
    border: 1px solid #ccc;
    float: left;
    width: 500px;
    height: 500px;
  }
  
  div.gallery:hover {
    border: 30px solid rgb(63, 63, 63);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 1px;
    text-align: center;
  }